<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <classPathEntry location="/Users/davinzhang/.m2/repository/mysql/mysql-connector-java/8.0.25/mysql-connector-java-8.0.25.jar" />
    <context id="MySQLTables" targetRuntime="MyBatis3">
        <property name="xmlFormatter" value="org.mybatis.generator.api.dom.DefaultXmlFormatter" />
        <property name="javaFormatter" value="org.mybatis.generator.api.dom.DefaultJavaFormatter" />
        <property name="javaFileEncoding" value="UTF-8" />

        <plugin type="org.mybatis.generator.plugins.ToStringPlugin" />
        <!-- 配置生成自定义的类序列化接口的插件 -->
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin" />

        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver" connectionURL="jdbc:mysql://39.106.63.176:3306/xinghe?serverTimezone=UTC" userId="t_zero" password="tZeroDavin!123">
        </jdbcConnection>

        <javaTypeResolver>
            <property name="useJSR310Types" value="true" />
            <property name="forceBigDecimals" value="false" />
        </javaTypeResolver>

        <javaModelGenerator targetPackage="com.t.zero.b.i.pump.db.model.auto" targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="auto-mappers" targetProject="src/main/resources">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER" targetPackage="com.t.zero.b.i.pump.db.dao.auto" targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>


        <table schema="xinghe" tableName="projectheader" domainObjectName="ProjectHeader">
            <property name="useActualColumnNames" value="false" />
            <generatedKey column="id" sqlStatement="mysql" identity="true" />
            <columnOverride column="is_deleted" property='deletedFlag' />
        </table>
        <table schema="xinghe" tableName="projectinfo" domainObjectName="ProjectInfo">
            <property name="useActualColumnNames" value="false" />
            <generatedKey column="id" sqlStatement="mysql" identity="true" />
            <columnOverride column="is_deleted" property='deletedFlag' />
        </table>
        <table schema="xinghe" tableName="units" domainObjectName="Units">
            <property name="useActualColumnNames" value="false" />
            <generatedKey column="id" sqlStatement="mysql" identity="true" />
            <columnOverride column="is_deleted" property='deletedFlag' />
        </table>
        <table schema="xinghe" tableName="pump_info" domainObjectName="PumpInfo">
            <property name="useActualColumnNames" value="false" />
            <generatedKey column="id" sqlStatement="mysql" identity="true" />
            <columnOverride column="is_deleted" property='deletedFlag' />
        </table>
        <table schema="xinghe" tableName="pump_attributes" domainObjectName="PumpAttributes">
            <property name="useActualColumnNames" value="false" />
            <generatedKey column="id" sqlStatement="mysql" identity="true" />
            <columnOverride column="is_deleted" property='deletedFlag' />
        </table>
        
        <table schema="xinghe" tableName="pump_fa_lan_info" domainObjectName="PumpFaLanInfo">
            <property name="useActualColumnNames" value="false" />
            <generatedKey column="id" sqlStatement="mysql" identity="true" />
            <columnOverride column="is_deleted" property='deletedFlag' />
        </table>
        <table schema="xinghe" tableName="pump_forces_and_moments" domainObjectName="PumpForcesAndMoments">
            <property name="useActualColumnNames" value="false" />
            <generatedKey column="id" sqlStatement="mysql" identity="true" />
            <columnOverride column="is_deleted" property='deletedFlag' />
        </table>
        <table schema="xinghe" tableName="pump_material_info" domainObjectName="PumpMaterialInfo">
            <property name="useActualColumnNames" value="false" />
            <generatedKey column="id" sqlStatement="mysql" identity="true" />
            <columnOverride column="is_deleted" property='deletedFlag' />
        </table>
        
        <table schema="xinghe" tableName="project_remark" domainObjectName="ProjectRemark">
            <property name="useActualColumnNames" value="false" />
            <generatedKey column="id" sqlStatement="mysql" identity="true" />
            <columnOverride column="is_deleted" property='deletedFlag' />
        </table>
        <table schema="xinghe" tableName="pump_export_dxf_config" domainObjectName="PumpExportDxfConfig">
            <property name="useActualColumnNames" value="false" />
            <generatedKey column="id" sqlStatement="mysql" identity="true" />
            <columnOverride column="is_deleted" property='deletedFlag' />
        </table>
        <table schema="xinghe" tableName="pump_export_dxf_template" domainObjectName="PumpExportDxfTemplate">
            <property name="useActualColumnNames" value="false" />
            <generatedKey column="id" sqlStatement="mysql" identity="true" />
            <columnOverride column="is_deleted" property='deletedFlag' />
        </table>
        
        
        <table schema="xinghe" tableName="pump_information" domainObjectName="PumpInformation">
            <property name="useActualColumnNames" value="false" />
            <generatedKey column="id" sqlStatement="mysql" identity="true" />
            <columnOverride column="is_deleted" property='deletedFlag' />
        </table>
        
        
        
        
    </context>
</generatorConfiguration>	